{% extends 'base.html' %}

{% block title %}
О компании
{% endblock %}


{% block content_text %}
<h1>О нас</h1>
<p>TechNova была основана в 2020 году группой энтузиастов, увлечённых возможностями современных технологий. С тех пор мы выросли в международную компанию с командой из более чем 150 специалистов по всему миру.</p>

<h3>Наша миссия</h3>
<p>Создавать технологии, которые улучшают жизнь людей и делают мир лучше. Мы верим, что даже самые сложные задачи имеют простое и эффективное решение.</p>

<h3>Наши ценности</h3>
<ul>
  <li>Инновации</li>
  <li>Ответственность</li>
  <li>Прозрачность</li>
  <li>Клиентоориентированность</li>
</ul>
{% endblock %}