{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
Главная страница
{% endblock %}

{% block list %}
<li>Lorem ipsum dolor sit amet.</li>
<li>Dolorem inventore nihil veniam voluptate?</li>
<li>Ad dolores ipsum quis reprehenderit!</li>
<li>Deserunt dolore ex impedit voluptas.</li>
<li>Doloribus eius incidunt laudantium maxime!</li>
<li>Eaque eligendi expedita odit sit!</li>
<li>Accusantium eveniet optio placeat vero.</li>
<li>Aliquam architecto at laborum praesentium.</li>
<li>Amet cupiditate labore nulla tempore?</li>
<li>A ea laudantium maxime perspiciatis?</li>
<li>Animi consectetur hic quam sapiente?</li>
<li>Accusamus assumenda aut hic sapiente.</li>
<li>Fugiat ipsam maiores sapiente voluptate.</li>
<li>Fugiat labore laborum nobis vitae.</li>
<li>Accusamus ea harum officiis repellat?</li>
<li>Asperiores aut deleniti earum sint.</li>
<li>Accusamus ad culpa obcaecati tempora?</li>
<li>Est harum ipsam sunt tempore.</li>
<li>Assumenda corporis laudantium libero nulla.</li>
<li>Dignissimos ea molestiae placeat qui.</li>
<li>Dicta nam quisquam quos sapiente!</li>
<li>Blanditiis fugiat odio rerum veritatis.</li>
<li>Alias at libero nulla voluptatem?</li>
<li>Ea enim officiis sint temporibus?</li>
<li>Doloribus fugiat ipsa labore ratione.</li>
<li>Alias assumenda ducimus laboriosam quas!</li>
<li>A consectetur dolorum possimus sit.</li>
<li>Culpa quas recusandae repellat ullam.</li>
<li>Alias eaque laboriosam ratione sint!</li>
<li>Cupiditate eveniet labore perspiciatis velit?</li>
<li>Corporis dolor molestias praesentium similique?</li>
<li>Culpa magnam reprehenderit vel veniam!</li>
<li>Aliquid asperiores facilis quam totam?</li>
<li>Animi quaerat quia sint temporibus.</li>
<li>Illum magni quaerat soluta vitae.</li>
<li>Animi deserunt fuga optio saepe.</li>
<li>In pariatur quae temporibus vel.</li>
<li>Dolorum iure porro totam vero!</li>
<li>Blanditiis incidunt magni nostrum totam!</li>
<li>Culpa et pariatur recusandae sit!</li>
<li>Animi autem quia similique suscipit.</li>
<li>Adipisci blanditiis dignissimos sapiente voluptate!</li>
<li>Aliquam consequuntur eum facilis illo.</li>
<li>Laboriosam odit pariatur placeat quo?</li>
<li>Accusamus cum nihil nulla quae.</li>
<li>Illum magnam quia quis voluptates?</li>
<li>Aperiam eligendi iusto tempore veritatis?</li>
<li>Deleniti modi tempora voluptate voluptatem!</li>
<li>Consequatur doloribus modi necessitatibus nostrum.</li>
<li>Maiores officia quaerat repellendus voluptatum!</li>
<li>A eligendi illum odio voluptas.</li>
<li>Atque consequatur eveniet ex fugiat?</li>
<li>Consectetur deleniti dolores et nulla.</li>
<li>Dicta id maxime minus totam?</li>
<li>Alias amet exercitationem fugiat nihil.</li>
<li>Doloribus fuga ipsum sint ut.</li>
<li>Deserunt expedita inventore itaque odio?</li>
<li>Deserunt earum ex officia repudiandae?</li>
<li>Est eum illum ipsam placeat?</li>
<li>Et optio porro velit! Iusto!</li>
<li>Est facilis ipsam repudiandae tenetur?</li>
<li>Iusto nostrum quia quos vel.</li>
<li>Dolore esse ipsum non voluptatem?</li>
<li>Enim magnam neque officiis quidem!</li>
<li>Blanditiis dolorum hic nesciunt! Nemo.</li>
<li>Architecto eos est magni repellat.</li>
<li>Maiores omnis, repellendus? Error, veritatis!</li>
<li>Labore quis similique suscipit voluptate.</li>
<li>Amet magnam neque rerum unde.</li>
<li>Aspernatur beatae facere mollitia voluptas?</li>
{% endblock %}