{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
Что мы предлагаем?
{% endblock %}

{% block content_text %}
<ul>
  <li>Разработка веб-приложений под ключ</li>
  <li>Индивидуальные решения на основе искусственного интеллекта</li>
  <li>Поддержка и сопровождение IT-инфраструктуры</li>
  <li>Обучение и консалтинг в сфере технологий</li>
</ul>

<p>Наш опыт охватывает такие отрасли, как финансы, здравоохранение, образование и логистика. Мы помогаем нашим клиентам достигать новых высот благодаря передовым технологиям.</p>
<p><a href="/about">Узнать больше о нас</a></p>
{% endblock %}